body {
  background: #f5efe7;
  color: #213555;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 25rem;
  margin: 15rem auto;
  border-radius: 0.5rem;
  padding: 2rem;
  background: #d8c4b6;
}

.img-box {
  border: 1px solid red;
  height: 12rem;
  width: 12rem;
}

img {
  max-height: 100%;
}

input {
  text-align: center;
  width: 15em;
  outline: 0;
  height: 1.4rem;
  border-radius: 0.3rem;
  border: none;
}

button {
  width: 8rem;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

button:hover {
  background: #ffffffc7;
}
